{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "commonjs": true,
    "node": true
  },
  "settings": {
  },
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "indent": [
      "error",
      4
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "one-var-declaration-per-line": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ]
  }
}
